<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit post</title>
</head>
<body>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
    <h3>Enter edited text</h3>
    <textarea placeholder="enter text" type="text" name="newcontent"></textarea>
    <button>Submit</button>
    </form>
    
</body>
</html>