<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add post</title>
</head>
<body>
    <form method="post" action="http://localhost:3000/posts">
        <input placeholder="Enter username" type="text" name="username">
        <br>
        <br>
        <textarea placeholder="enter content" type="text" name="content">
            
        </textarea>
        <br>
        <br>
        <button>submit</button>
    </form>
    
</body>
</html>