<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>POst in Detail</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
    <h2>POST IN DETAIL</h2>
    <h3>ID : <%=post.id %></h3>
    <div class="post">
        <h3 class="user">USERNAME : <%=post.username %></h3>
        <h3 class="user">CONTENT : <%=post.content %></h3>


    </div>
    
</body>
</html>